{% extends "base.html" %}
{% block title %}Sign Out - EDID.tv{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3 well">
    <div class="page-header">
      <h1>Sign Out</h1>
    </div>

    <h3>Are you sure you want to sign out?</h3>

    <form method="post">{% csrf_token %}
      <div class="control-group">
        <div class="controls text-center">
          <button class="btn btn-danger btn-large" id="submit_logout" type="submit">Sign Out</button>
        </div>
      </div>
  {% if redirect_field_value %}
      <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
    </form>
  </div>
</div>
{% endblock %}
