{% extends "base.html" %}
{% block title %}Change Password - EDID Database{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3 well">
    <div class="page-header">
      <h1>Change Password</h1>
    </div>

    <form method="post" class="form-horizontal">{% csrf_token %}
      <div class="control-group{% if password_change_form.oldpassword.errors %} error{% endif %}">
        <label class="control-label" for="id_oldpassword">Current password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input class="span2" id="id_oldpassword" name="oldpassword" type="password">
          </div>
  {% for error in password_change_form.oldpassword.errors %}
          <span class="help-inline">{{ error|escape }}</span>
  {% endfor %}
        </div>
      </div>

      <div class="control-group{% if password_change_form.password1.errors %} error{% endif %}">
        <label class="control-label" for="id_password1">New password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input class="span2" id="id_password1" name="password1" type="password">
          </div>
  {% for error in password_change_form.password1.errors %}
          <span class="help-inline">{{ error|escape }}</span>
  {% endfor %}
        </div>
      </div>

      <div class="control-group{% if password_change_form.password2.errors %} error{% endif %}">
        <label class="control-label" for="id_password2">Retype new password</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input class="span2" id="id_password2" name="password2" type="password">
          </div>
  {% for error in password_change_form.password2.errors %}
          <span class="help-inline">{{ error|escape }}</span>
  {% endfor %}
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
         <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
