{% extends "base.html" %}
{% block title %}Password Reset - EDID.tv{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3 well">
    <div class="page-header">
      <h1>Password Reset</h1>
    </div>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="post" class="form-horizontal">{% csrf_token %}
      <div class="control-group{% if password_reset_form.email.errors %} error{% endif %}">
        <label class="control-label" for="id_email">E-mail</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="span2" id="id_email" name="email" type="text" {% if password_reset_form.email.value %} value="{{ password_reset_form.email.value }}"{% endif %}>
          </div>
  {% for error in password_reset_form.email.errors %}
          <span class="help-inline">{{ error|escape }}</span>
  {% endfor %}
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit" value="Reset My Password" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $("#id_email").focus();
    </script>
{% endblock %}
