{% extends "base.html" %}
{% block title %}Delete Detailed Timing - EDID.tv{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Delete Detailed Timing</h1>
    {% include 'frontend/detailedtiming_table.html' %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <form method="post">{% csrf_token %}
      <div class="form-actions text-right">
        <a class="btn" href="{% url 'edid-update' timing.EDID_id %}">Cancel</a>
        <input type="submit" name="delete" value="Delete" class="btn btn-danger" id="delete-id-delete" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
