{% extends "base.html" %}
{% block title %}Delete Detailed Timing - EDID Database{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>Delete Detailed Timing</h1>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Pixel clock</td>
          <td>{{ timing.pixel_clock }} kHz</td>
        </tr>
        <tr>
          <td>Horizontal Active</td>
          <td>{{ timing.horizontal_active }} pixels</td>
        </tr>
        <tr>
          <td>Horizontal Blanking</td>
          <td>{{ timing.horizontal_blanking }} pixels</td>
        </tr>
        <tr>
          <td>Horizontal Sync Offset</td>
          <td>{{ timing.horizontal_sync_offset }} lines</td>
        </tr>
        <tr>
          <td>Horizontal Sync Pulse Width</td>
          <td>{{ timing.horizontal_sync_pulse_width }} lines</td>
        </tr>
        <tr>
          <td>Horizontal Image Size</td>
          <td>{{ timing.horizontal_image_size }} mm</td>
        </tr>
        <tr>
          <td>Horizontal Border</td>
          <td>{{ timing.horizontal_border }} pixels</td>
        </tr>
        <tr>
          <td>Vertical Active</td>
          <td>{{ timing.vertical_active }} pixels</td>
        </tr>
        <tr>
          <td>Vertical Blanking</td>
          <td>{{ timing.vertical_blanking }} pixels</td>
        </tr>
        <tr>
          <td>Vertical Sync Offset</td>
          <td>{{ timing.vertical_sync_offset }} lines</td>
        </tr>
        <tr>
          <td>Vertical Sync Pulse Width</td>
          <td>{{ timing.vertical_sync_pulse_width }} lines</td>
        </tr>
        <tr>
          <td>Vertical Image Size</td>
          <td>{{ timing.vertical_image_size }} mm</td>
        </tr>
        <tr>
          <td>Vertical Border</td>
          <td>{{ timing.vertical_border }} pixels</td>
        </tr>
        <tr>
          <td>Interlaced</td>
          <td><i class="icon-{{ timing.flags_interlaced|yesno:"ok,remove" }}"></i></td>
        </tr>
        <tr>
          <td>Stereo Mode</td>
          <td>{{ timing.get_flags_stereo_mode_display }}</td>
        </tr>
        <tr>
          <td>Sync Scheme</td>
          <td>{{ timing.get_flags_sync_scheme_display }}</td>
        </tr>
{% if timing.flags_sync_scheme == timing.Sync_Scheme.Digital_Separate %}
        <tr>
          <td>Horizontal Polarity</td>
          <td><i class="icon-{{ timing.flags_horizontal_polarity|yesno:"ok,remove" }}"></i></td>
        </tr>
        <tr>
          <td>Vertical Polarity</td>
          <td><i class="icon-{{ timing.flags_vertical_polarity|yesno:"ok,remove" }}"></i></td>
        </tr>
{% else %}
        <tr>
          <td>Serrate</td>
          <td><i class="icon-{{ timing.flags_serrate|yesno:"ok,remove" }}"></i></td>
        </tr>
    {% if timing.flags_sync_scheme == timing.Sync_Scheme.Digital_Composite %}
        <tr>
          <td>Composite Polarity</td>
          <td><i class="icon-{{ timing.flags_composite_polarity|yesno:"ok,remove" }}"></i></td>
        </tr>
    {% else %}
        <tr>
          <td>Sync on RGB</td>
          <td><i class="icon-{{ timing.flags_sync_on_RGB|yesno:"ok,remove" }}"></i></td>
        </tr>
    {% endif %}
{% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <form method="post">{% csrf_token %}
      <div class="form-actions text-right">
        <a class="btn" href="{% url 'edid-update' timing.EDID_id %}">Cancel</a>
        <input type="submit" name="delete" value="Delete" class="btn btn-danger" id="delete-id-delete" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
