{% extends "base.html" %}
{% block title %}EDID.tv{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3 well">
    <div class="page-header">
      <h1>Revert EDID Revision</h1>
    </div>

    <h3>Are sure you want to revert back to revision {{ revision.pk }} from {{ revision.date_created|date }}?</h3>

    <form method="post">{% csrf_token %}
      <div class="control-group">
        <div class="controls text-center">
          <a class="btn btn-large" href="{% url 'edid-revision-detail' edid.pk revision.pk %}">Cancel</a>
          <input type="submit" name="revert" value="Revert" class="btn btn-danger btn-large" id="revert-id-revert" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}