{% extends "base.html" %}
{% block title %}Details - EDID Database{% endblock %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="span3 sidenav">
    <ul class="nav nav-list sidenav" data-spy="affix">
      <li><a href="#basic_display_parameters"><i class="icon-chevron-right"></i> Basic Display Parameters</a></li>
      <li><a href="#chromaticity"><i class="icon-chevron-right"></i> Chromaticity</a></li>
      <li><a href="#established_timings"><i class="icon-chevron-right"></i> Established Timings</a></li>
  {% if edid.standardtimings %}
      <li><a href="#standard_timings"><i class="icon-chevron-right"></i> Standard Timings</a></li>
  {% endif %}
  {% if edid.detailedtimings %}
      <li><a href="#detailed_timings"><i class="icon-chevron-right"></i> Detailed Timings</a></li>
  {% endif %}
  {% if edid.monitor_range_limits %}
      <li><a href="#monitor_range_limits"><i class="icon-chevron-right"></i> Monitor Range Limits</a></li>
  {% endif %}
  {% if not edid.is_revision %}
      <li><a href="#comments"><i class="icon-chevron-right"></i> Comments</a></li>
  {% endif %}
    </ul>
  </div>

  <div class="span9">
    <h2><a href="{% url 'manufacturer-detail' edid.manufacturer.pk %}">{{ edid.manufacturer.name }}</a> {{ edid.manufacturer_serial_number }}</h2>

  {% if edid.is_revision %}
    <div class="alert alert-block alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>This is an old revision!</h4>
      It is provided for archival purposes. You may want to check <a href="{% url 'edid-detail' edid.pk %}">latest updated revision</a> or go back to <a href="{% url 'edid-revision-list' edid.pk %}">revisions list</a>.
    </div>
  {% else %}
    <p>
    {% if user.is_authenticated %}
      <a class="btn" href="{% url 'edid-update' edid.pk %}"><i class="icon-edit"></i> Update</a>
    {% endif %}
      <a class="btn" href="{% url 'edid-revision-list' edid.pk %}">Revisions</a>
    </p>
  {% endif %}

    <section id="basic_display_parameters">
      <h3>Basic Display Parameters</h3>
      <table class="table table-striped table-bordered">
        <tbody>
      {% if edid.bdp_display_gamma %}
          <tr>
            <td>Display gamma</td>
            <td>{{ edid.bdp_display_gamma|floatformat:2 }}</td>
          </tr>
      {% endif %}
          <tr>
            <td>Maximum horizontal image size</td>
            <td>{{ edid.bdp_max_horizontal_image_size }} cm</td>
          </tr>
          <tr>
            <td>Maximum vertical image size</td>
            <td>{{ edid.bdp_max_vertical_image_size }} cm</td>
          </tr>
          <tr>
            <td>Signal level input</td>
            <td>{{ edid.get_bdp_video_input_display }}</td>
          </tr>
      {% if edid.bdp_video_input == edid.bdp_video_input_analog %}
          <tr>
            <td>Blank-to-black setup</td>
            <td><i class="icon-{{ edid.bdp_blank_to_black_setup|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Separate syncs</td>
            <td><i class="icon-{{ edid.bdp_separate_syncs|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Composite syncs</td>
            <td><i class="icon-{{ edid.bdp_composite_sync|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Sync on green video</td>
            <td><i class="icon-{{ edid.bdp_sync_on_green_video|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Vsync serration</td>
            <td><i class="icon-{{ edid.bdp_vsync_serration|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Signal Level Standard</td>
            <td>{{ edid.get_bdp_signal_level_standard_display }}</td>
          </tr>
      {% else %}
          <tr>
            <td>VESA DFP 1.x</td>
            <td><i class="icon-{{ edid.bdp_video_input_DFP_1|yesno:"ok,remove" }}"></i></td>
          </tr>
      {% endif %}
          <tr>
            <td>Display Type</td>
            <td>{{ edid.get_bdp_feature_display_type_display }}</td>
          </tr>
        </tbody>
      </table>
      <h4>Feature Support</h4>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>Active-off</td>
            <td><i class="icon-{{ edid.bdp_feature_active_off|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Default GTF</td>
            <td><i class="icon-{{ edid.bdp_feature_default_GTF|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Preferred Timing Mode</td>
            <td><i class="icon-{{ edid.bdp_feature_preferred_timing_mode|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Standard sRGB</td>
            <td><i class="icon-{{ edid.bdp_feature_standard_sRGB|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Standby</td>
            <td><i class="icon-{{ edid.bdp_feature_standby|yesno:"ok,remove" }}"></i></td>
          </tr>
          <tr>
            <td>Suspend</td>
            <td><i class="icon-{{ edid.bdp_feature_suspend|yesno:"ok,remove" }}"></i></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="chromaticity">
      <h3>Chromaticity</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Color</th>
            <th>X</th>
            <th>Y</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Red</td>
            <td>{{ edid.chr_red_x|floatformat:3 }}</td>
            <td>{{ edid.chr_red_y|floatformat:3 }}</td>
          </tr>
          <tr>
            <td>Green</td>
            <td>{{ edid.chr_green_x|floatformat:3 }}</td>
            <td>{{ edid.chr_green_y|floatformat:3 }}</td>
          </tr>
          <tr>
            <td>Blue</td>
            <td>{{ edid.chr_blue_x|floatformat:3 }}</td>
            <td>{{ edid.chr_blue_y|floatformat:3 }}</td>
          </tr>
          <tr>
            <td>White</td>
            <td>{{ edid.chr_white_x|floatformat:3 }}</td>
            <td>{{ edid.chr_white_y|floatformat:3 }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="established_timings">
      <h3>Established Timings</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Horizontal Active</td>
            <td>Vertical Active</td>
            <td>Refresh Rate</td>
          </tr>
        </thead>
        <tbody>
  {% for timing in edid.get_est_timings %}
    {% if timing.supported %}
        <tr>
          <td>{{ timing.horizontal_active }} pixels</td>
          <td>{{ timing.vertical_active }} pixels</td>
          <td>{{ timing.refresh_rate }} Hz</td>
        </tr>
    {% endif %}
  {% endfor %}
        </tbody>
      </table>
    </section>

  {% if edid.standardtimings %}
    <section id="standard_timings">
      <div class="row">
    {% for timing in edid.standardtimings %}
        <div class="span4">
          <h3>Standard Timings {{ timing.identification }}</h3>
          {% include 'frontend/standardtiming_table.html' %}
        </div>
      {% if forloop.counter|divisibleby:2 and not forloop.last %}
      </div>
      <div class="row">
      {% endif %}
    {% endfor %}
      </div>
    </section>
  {% endif %}

  {% if edid.detailedtimings %}
    <section id="detailed_timings">
      <div class="row">
      {% for timing in edid.detailedtimings %}
        <div class="span4">
          <h3>Detailed Timings {{ timing.identification }}</h3>
          {% include 'frontend/detailedtiming_table.html' %}
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
      </div>
      <div class="row">
        {% endif %}
      {% endfor %}
      </div>
    </section>
  {% endif %}

  {% if edid.monitor_range_limits %}
    <section id="monitor_range_limits">
      <h3>Monitor Range Limits</h3>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>Minimum horizontal line rate</td>
            <td>{{ edid.mrl_min_horizontal_rate }} kHz</td>
          </tr>
          <tr>
            <td>Maximum horizontal line rate</td>
            <td>{{ edid.mrl_max_horizontal_rate }} kHz</td>
          </tr>
          <tr>
            <td>Minimum vertical line rate</td>
            <td>{{ edid.mrl_min_vertical_rate }} Hz</td>
          </tr>
          <tr>
            <td>Maximum vertical line rate</td>
            <td>{{ edid.mrl_max_vertical_rate }} Hz</td>
          </tr>
          <tr>
            <td>Maximum pixel clock rate</td>
            <td>{{ edid.mrl_max_pixel_clock }} MHz</td>
          </tr>
          <tr>
            <td>Secondary GTF curve supported</td>
            <td><i class="icon-{{ edid.mrl_secondary_GTF_curve_supported|yesno:"ok,remove" }}"></i></td>
          </tr>
    {% if edid.mrl_secondary_GTF_curve_supported %}
          <tr>
            <td>Start frequency</td>
            <td>{{ edid.mrl_max_pixel_clock }} kHz</td>
          </tr>
          <tr>
            <td>C</td>
            <td>{{ edid.mrl_secondary_GTF_C }}</td>
          </tr>
          <tr>
            <td>M</td>
            <td>{{ edid.mrl_secondary_GTF_M }}</td>
          </tr>
          <tr>
            <td>K</td>
            <td>{{ edid.mrl_secondary_GTF_K }}</td>
          </tr>
          <tr>
            <td>J</td>
            <td>{{ edid.mrl_secondary_GTF_J }}</td>
          </tr>
    {% endif %}
        </tbody>
      </table>
    </section>
  {% endif %}

  {% if not edid.is_revision %}
    <section id="comments">
      <h3>Comments</h3>
      {% include 'frontend/comment_list.html' with form=comment_form %}
    </section>
  {% endif %}
  </div>
</div>
{% endblock %}
