{% extends "base.html" %}
{% block title %}EDID Database{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h2><a href="{% url 'upload_edid' %}">Upload your EDID file</a></h2>
  </div>
  <div class="span12">
    <h2>EDID List</h2>
    {% if edids %}
    <ul>
      {% for edid in edids %}
      <li>{{ edid.manufacturer.name }} {{ edid.monitor_name }} {{ edid.manufacturer_serial_number }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No EDID in the database.</p>
    {% endif %}
  </div>
</div>
{% endblock %}